.container {
  text-align: center;
}
.container .title {
  padding: 0;
  margin-bottom: 10px;
}
.container .display-time-left {
  font-size: 200%;
  padding: 2vw;
}
.container .end-of-timer .result {
  padding: 1vw;
}
.new-task-window .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.new-task-window .background .content {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  background: white;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.new-task-window .background .content > div {
  flex-grow: 1;
}
.new-task-window .background .content > div .set-title {
  width: 60%;
}
.new-task-window .background .content > div .display-time {
  font-size: 200%;
}
.new-task-window .background .content > div .set-time {
  width: 60%;
}
